li {
    display: inline;
    margin-right: 10px;}
    li.coming-soon {
    display: none;
 
  
}

    .nav{
        border: 2px solid red;
        width: 100%;
      background-color: salmon;
        color: rgb(54, 25, 1);
        padding-top: 10px;
    }
    ul{
    margin-left: 70%;

    
    }
    .slider{
        width: 100%;
        height: 300%;
    }
    .main{
        /* border: 2px solid blue; */
        height: 300px;
        display: flex;

    }
    .lin{
        /* border: 1px solid rgb(26, 26, 13); */
        width: 20%;
        height: 299px;
        margin: 0% autos;
    }
    .dfg{
        height: 180px;
        width: 200px;
        margin-top: 25px;
        box-shadow: 5px 5px 5px 5px;
    } 
    
    
    .qwe{
        height: 300px;
        width: 99%;
    }
    .nav2{
        border: 1px dotted;
        width: 100%;
        height: 100px;
        background-color: sandybrown;
        float: right;
       
    }
    button{
        width: 100px;
        height: 45px;
         color: rgb(145, 134, 216);
         background: slategrey;
        
         

    }
    .abc{
        float: left;
    }